NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/pharmacy?directConnection=true&replicaSet=rs0
JWT_ACCESS_SECRET=change-me-to-64-random-chars-in-production-really-do-it
JWT_REFRESH_SECRET=change-me-to-different-64-random-chars-in-production
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
TZ=Asia/Karachi

# Production only — leave blank in development
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
