auto-install-peers=true
node-linker=node-modules
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=mongodb-memory-server
onlyBuiltDependencies[]=@mongodb-js/zstd
onlyBuiltDependencies[]=kerberos
onlyBuiltDependencies[]=snappy
